<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <script src="{% static 'blog/js/bootstrap.js' %}"></script>
    <script src="https://kit.fontawesome.com/187dabceeb.js"
            crossorigin="anonymous"></script> <!-- fontawesome 키트-->
    <!-- 제이 쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>
<body>
{% include 'navbar.html' %}
<!-- 본문 영역 -->
<div class="container my-3">
    <div class="row">
        <div class="col-8">
            {% block content %}
            {% endblock %}
        </div>

        <!-- 검색 및 분류 -->
        <div class="col-4 col-lg-3">
            <!-- 검색 위젯 -->
            <div class="card my-3">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="kw form-control"
                                value="{{ kw }}">
                        <div class="input-group-append mx-1">
                            <button type="button" id="btn_search"
                                class="btn btn-outline-secondary">찾기</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 카테고리 위젯 -->
            <div class="card my-3">
                <h5 class="card-header">분류(Category)</h5>
                <div class="card-body">
                    <ul>
                        <li>
                            <a href="{% url 'blog:post_list' %}">
                                {% if not current_category %}
                                    <b>전체보기({{ total_post }})</b>
                                {% else %}
                                    전체보기({{ total_post }})
                                {% endif %}
                            </a>
                        </li>
                        {% for category in categories %}
                            {% if current_category.slug == category.slug %}
                           <!--category.post_set.count : 해당 포스트의 총 개수-->
                            <li style="background: #ff0">
                                <a href="{{ category.get_absolute_url }}">
                                {{ category.name }}({{ category.post_set.count }})
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ category.get_absolute_url }}">
                                {{ category.name }}({{ category.post_set.count }})
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div> <!-- card 끝 -->
        </div> <!-- 검색 및 분류 끝 -->
    </div> <!-- row 끝 -->
</div> <!-- container 끝 -->

<!-- 자바 스크립트 영역 -->
{% block script %}
{% endblock %}
</body>
</html>